body {
  font-family: Avenir;
}

h1 {
  margin: 1em;
}
.taco-card {
  /* border: 1px solid #eee; */
  background: #f3f3f3;
  display: inline-block;
  margin: 1em;
  padding: 1em;
  text-align: center;
}
